- if @member.activities.approved.any?
  %h3 Activities I am hosting
  - @member.activities.each do |a|
    = link_to a.title, host_activity_path(a)
    %br

- elsif @member.activities.pending.any?
  %h3 Activities I am working on
  - @member.activities.each do |a|
    = link_to a.title, edit_host_activity_path(a)

/ - elsif @member.activities.draft.any?
/   %h3 Activities I am working on
/   - @member.activities.each do |a|
/     = link_to a.title, edit_host_activity_path(a)

%h4= link_to "Host activity!", new_host_activity_path
