%h3 WeRide Signature Tours
%hr

.row
  - @tours.each_with_index do |tour, index|
    - index = index+1
    .col-md-3
      .image-card
        = link_to tour do
          / = image_tag tour.images.first
          = tour.title
%br
%br

%h3 Approved Activities
%hr
.row
  - @activities.each_with_index do |activity, index|
    - index = index+1
    .col-md-3
      .image-card
        = link_to activity do
          / = image_tag activity.images.first
          = activity.title
