%h2 Landing Page
%hr

- if member_signed_in?
  %span Congratulations you are now a We Ride member. We will keep you up
  to date with the latest community news and events. What else would
  you like to do?:

  %br
  %a{href: "#"} Guide a weride signature tour
  %br
  %a{href: new_activity_path} Host my own tour idea
  %br
  %a{href: "#"} Learn more about hosting a tour
  %br
  %a{href: "#"} That's all for now!!
