= render "activity_show"

- unless @activity.approved? || @activity.signature?
  = link_to "approve", approve_admin_activity_path(@activity), method: :post

= link_to "Edit", edit_admin_activity_path(@activity)
= link_to "Back to the List", admin_activities_path