= render partial: 'activity_show', locals: {activity: @activity, from: "admin"}

- unless @activity.approved? || @activity.signature?
  = link_to "approve", approve_admin_activity_path(@activity), method: :post

= link_to "Edit", edit_admin_activity_path(@activity), class: 'btn btn-primary'
= link_to "Back to the List", admin_activities_path, class: 'btn btn-default'