@import bootstrap
@import rails_bootstrap_forms
@import jquery.timepicker
@import jquery-ui
@import jquery-ui.multidatespicker
@import simple_calendar

.header
  background: white
  position: fixed
  border-bottom: 1px solid rgba(72,174,203, 0.5)


.logo-wrapper
  width: 110px
  img
    width: 100%

.reservation_bar
  width: 101%
  border-top: 1px solid grey
  height: 100px
  display: block
  position: fixed
  bottom: 0
  background-color: white
  padding-right: 10px
  margin-left: -90px
  padding-left: 90px

.close_reservation_bar
  display: none

#reservation_calendar
  display: none
