%div{style: 'margin-top: 100px;'}
  %div{style: 'width:50%;'}
    .footer-link-wrapper
      %a.footer-link{href: '#'} 위라이드플러스 소개
      %a.footer-link{href: '#'} 이용약관
      %a.footer-link{href: '#'} 개인정보처리방침
      %a.footer-link{href: '#'} 고객센터

    .row
      .col-md-6
        %span.footer-info COMPANY 주식회사 위라이드
        %span.footer-info OWNER 백시영, 맆트롯빈센트템바
        %span.footer-info BUSINESS NUMBER 442-87-01126
      .col-md-6
        %span.footer-info TEL 070-7722-9284
        %span.footer-info E-MAIL hello@weridekorea.com
        %span.footer-info ADDRESS 서울특별시 마포구 백범로 31길 21, 4층 420호(공덕동, 서울창업허브본관)
